.about h1, h2 {
    text-align: center;
}
.about h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}
.about h2 {
    font-size: 1.8em;
    margin: 1em 0;
}
.about p {
    text-align: justify;
    margin: 1em 0;
}
.about .highlight {
    font-weight: bold;
}
.about .divider {
    margin: 2em 0;
    height: 1px;
}
