.partners_CarduusCarat h1{
    text-align: center;
    font-size: 36px;
    font-family: 'prata', serif;
    margin-bottom: 30px;
}
.partners_CarduusCarat p{
    font-size: 14px;
    font-family: 'montserrat', sans-serif;
    color: white;
    margin-top: 15px;
}
.partners_CarduusCarat h2{
    margin-top: 50px;
    font-family: 'Prata', serif;
    font-size: 24px;
    color: #B1824C;
}
.partners_CarduusCarat .row h3{
    margin-top: 25px;
    font-size: 20px;
    font-family: 'prata', sans-serif;
    color: #B1824C;
}
.partners_CarduusCarat img{
    width: 340px;
    height: 304px;
    object-fit: cover;
    object-position: right;
}
@media screen and (max-width: 757px){
    .partners_CarduusCarat .row .col-3{
        width: 100%;
        margin-top: 20px;
    }
    .partners_CarduusCarat img{
        width: 100%;
    }
}
