@font-face {
    font-family: 'CormorantSC';
    src: url('../fonts/Cormorant_SC/CormorantSC-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantSC';
    src: url('../fonts/Cormorant_SC/CormorantSC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantSC';
    src: url('../fonts/Cormorant_SC/CormorantSC-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantSC';
    src: url('../fonts/Cormorant_SC/CormorantSC-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantSC';
    src: url('../fonts/Cormorant_SC/CormorantSC-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

body{
    background-position: top;
    color: white;
    font-family: 'CormorantSC', Georgia, serif !important;
    line-height: 1.6;
    background:
        linear-gradient(rgba(22, 61, 52, .9), rgba(22, 61, 52, .9)),
        url('/src/img/background.png');
    background-size: 500px; /* Растягиваем изображение */
    background-position: center;
    animation: backgroundPulse 100s infinite alternate ease-in-out;
}

@keyframes backgroundPulse {
    from {
        background-size: 500px;
    }
    to {
        background-size: 1000px;
    }
}
/* header style*/
header {
    width: 100%;
}
header .desktop_menu{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(24, 61, 53, 0.75);
    flex-wrap: wrap;
}
header hr{
    border: 1px solid #B1824C80;
}
header .desktop_menu a:not(.active):hover{
    color: #B1824C80;
}
header div.desktop_menu a{
    margin: 20px 34px;
    color: white;
    font-size: 16px;
}
header div.desktop_menu a.active{
    text-decoration: underline #B1824C 4px;
    text-underline-offset: 8px;
}
@media screen and (max-width: 757px) {
    header .desktop_menu{
        display: none;
    }
}
header .navbar-brand {
    width: max-content;
    margin: auto;
}

header .navbar-brand img {
    width: 250px;
    margin: auto;
}

header .bg-dark, header .text-bg-dark {
    background-color: #183d35 !important;
}

.offcanvas-title img {
    width: 100%;
}

.cart_href {
    position: relative;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
}

.partners_CarduusCarat ol {
    list-style: auto;
    padding-left: 2rem;
}

.right_menu {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.right_menu img {
    width: 40px;
    height: 40px;
    max-width: 40px;
}
.mobile_logo{
    display: none;
}
@media screen and (max-width: 500px) {
    .desktop_logo{
        display: none;
    }
    header .navbar-brand img{
        width: 40px;
    }
    .mobile_logo{
        height: 40px;
        display: block;
    }
}

/* Основные стили футера */
.site-footer {
    background-color: #163d34; /* Темный фон */
    color: #ffffff; /* Белый цвет текста */
    padding: 40px 0 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 200px;
    margin: 0 auto 40px;
}

.footer-links, .footer-social, .footer-contact {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links a,
.footer-social a {
    color: #7a6a44; /* Цвет ссылок */
    text-decoration: none;
    display: block;
    margin: 5px 0;
    font-size: 16px;
}

.footer-links a:hover,
.footer-social a:hover {
    color: #ffffff; /* Изменение цвета при наведении */
}

.footer-social .social-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-contact a {
    color: #7a6a44;
    text-decoration: none;
}

.footer-contact a:hover {
    color: #ffffff;
}

/* Стили для нижней части футера */
.footer-bottom {
    background-color: #122b25; /* Темный оттенок для нижней части */
    text-align: center;
    padding: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* group style */
.d-flex {
    display: flex;
}

.justly-spase-between {
    justify-content: space-between;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-top-10px {
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

.wrap {
    flex-wrap: wrap;
}

.row-4 {
    width: 25%;
}
section h1 {
    color: #ffffff;
    font-family: "Prata", serif;
    font-size: 36px;
}

section h2 {
    color: #f4e1c1;
    font-family: 'CormorantSC-SemiBold', serif;
    font-size: 40px;
}

h3:not(.main_banners h3) {
    color: #a7c6ed;
    font-family: 'CormorantSC-Medium', serif;
}

h4:not(.main_banners h4) {
    color: #b8a6d1;
    font-family: 'CormorantSC-Regular', serif;
}

h5 {
    color: #b1b881;
}

h6 {
    color: #dcdcdc;
}

p, li {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    line-height: 1.6;
}

a:not(.main_banners a) {
    color: #a7c6ed;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
}

span.highlight {
    color: #a98128;
    font-size: 22px;
    font-weight: bold;
    font-family: 'SansSerif', serif;
}

/* Стили для заголовков */
section .black h1, section .black  h2, section .black  h3, section .black  h4, section .black  h5, section .black  h6 {
    color: #163d34; /* Цвет заголовков - темно-зеленый */
    font-weight: bold;
}

/* Стили для основного текста */
section .black  p, section .black  li, section .black  span, section .black  a {
    color: #333333; /* Основной текст темного цвета */
    font-size: 16px;
}

/* Ссылки */
section .black a {
    color: #163d34; /* Цвет ссылок - темно-зеленый */
    text-decoration: none;
}

section .black a:hover {
    color: #b1824c; /* Цвет ссылок при наведении - золотистый */
}
span.white-highlight {
    color: #ffffff;
    font-weight: bold;
}

section .container-lg{
    padding: 40px 0;
    background-color: rgba(24, 61, 53, 0.75);
}

@media screen and (max-width: 1500px){
    .row-4{
        width: 33.3%;
    }
}
@media screen and (max-width: 1100px){
    .row-4{
        width: 50%;
    }
}
@media screen and (max-width: 500px){
    .row-4{
        width: 100%;
    }
}
.catalog {
    padding: 10px 20px;
}

.catalog_item {
    padding: 10px;
    position: relative;
}

.catalog_item img,  .catalog_item video{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}

/*Стандартная кнопка*/
.button {
    font-size: 18px;
    margin: 20px auto 10px;
    display: block;
    width: 70%;
    background-color: #212121;
    padding: 5px;
    text-align: center;
    color: white!important;
}

/*Хлебные крошки*/
.bread_crumb{
    display: flex;
    font-size: 15px;
    position: relative;
}

.bread_crumb .parent{
    color: #B1824C;
    margin-right: 17px;
}

.bread_crumb p.parent{
    margin-top: 0;
}

.bread_crumb .child{
    color: white;
}

.bread_crumb a:hover{
    text-decoration: underline;
}

.bread_crumb hr{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #B1824C80;
}
