/* header style*/
header{
    width: 100%;
    margin-bottom: 50px;
}
header .logo_main{
    margin: 30px 0;
    width: 100%;
    display: flex;
}
.logo_picture{
    width: 65%;
    display: flex;
}
.logo_picture a{
    width: 100%;
}
.logo_picture img{
    width: 40%;
    margin: 0 0 0 auto;
}
.logo_phone{
    display: flex;
    width: 35%;
}
.logo_phone img{
    width: 4%;
    margin: 0 0 0 auto;
}
.telephone_number{
    line-height: 22px;
    margin: auto 20px auto 15px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
}
.telephone_number:hover{
    text-decoration: underline;
}
.menu_top{
    display: flex;
}
.menu_top ul{
    display: flex;
    margin: 0 auto;
}
.menu_top ul li{
    margin: 15px;
}
.modal_menu{
    display: none;
    position: absolute;
    z-index: 200;
    width: 50vw;
    background: white;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
}
.modal_menu ul{
    flex-wrap: wrap;
}
.modal_menu ul li{
    width: 25%;
}
.modal_menu ul ul{
    display: block;
}
.modal_menu_hover:hover{
    .modal_menu{
        display: block;
    }
}
.menu_top ul li a.active, .footer_main a.active{
    text-decoration: underline dotted;
}
.menu_top ul li a:hover, .footer_main a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 1024px){
    .menu_top ul{
        flex-wrap: wrap;
    }
    .row-4.catalog_item{
        width: 50%;
    }
}
/* footer style */
.bg-color-footer{
    background: #e0e0e0;
    padding-top: 36px;
}
footer .footer_main{
    display: flex;
    padding: 0 322px;
    justify-content: space-between;
}
.footer_main h3{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
footer .footer-2{
    border-top: 1px solid #bdbdbd;
    padding-top: 36px;
}
footer .footer-3{
    background: #bdbdbd;
    height: 63px;
    padding: 20px 0;
}
.logo_footer{
    display: flex;
    justify-content: flex-end;
}
.logo_footer img{
    width: 5%;
    margin-right: 10px;
}
@media screen and (max-width: 1024px){
    footer .footer_main{
        padding: 0 20px;
    }
}
/* group style */
.d-flex{
    display: flex;
}
.justly-spase-between{
    justify-content: space-between;
}
.margin-left-20px{
    margin-left: 20px;
}
.margin-top-10px{
    margin-top: 10px;
}
a:hover{
    text-decoration: underline;
}
.wrap{
    flex-wrap: wrap;
}
.row-4{
    width: 25%;
}
.catalog{
    padding: 10px 20px;
}
.catalog_item{
    padding: 10px;
    position: relative;
}
.catalog_item img{
    width: 100%;
}
/*Стандартная кнопка*/
.button{
    font-size: 18px;
    margin: 20px auto 10px;
    display: block;
    width: 70%;
    background-color: #212121;
    padding: 5px;
    text-align: center;
    color: white;
}
